@font-face {
    font-family: BOD_B;
    src: url(./../fonts/BOD_B.TTF);
}

@font-face {
    font-family: majalla;
    src: url(./../fonts/majalla.TTF);
}
@font-face {
    font-family: majallab;
    src: url(./../fonts/majallab.TTF);
}
