:root {
  --grid-margin: 1em;
  --grid-items: 4;

  --font-size: 2em;
  --font-size-about: 7em;
  --font-size-form: 1.2em;
  --header-font-size: 3.5em;
  

  --main-container-margin:5%;
  --navbar-width: 90%;

 }
 